/*
* Expand-o-matic V1.0
* Copyright 2012 Cory "cr0ybot" Hughart
* cr0ybot.com/expandomatic
* Based on Skeleton & Mobile First Foundation
* getskeleton.com | github.com/adamfairhead/mobile-first-foundation
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 07/15/2012
*/


/* Table of Content
==================================================
	• Base Styles
	• Media Queries
	• Font-Face
*/


/* Base Styles
================================================== */

	body { background-color:#EEE; }
	
	.container { padding-top: 20px; }
	
	[class*="List"] { padding: 0 0 0 0; }
	
	h1, h2, h3, h4, h5, h6, ul, li, p { margin: 0px; padding: 0px; line-height: 1; }
	p { padding-bottom: 8px; }
	h1 {
		font-family: Orbitron, sans-serif;
		font-weight: 700;
		padding-bottom: 8px;
		border-bottom: 14px solid #CCC;
	}
	h2, h3, h4, h5, h6 {
		font-family: Titillium, "Liberation Sans", Geneva, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 500;
	}
	h1 { font-size: 28px; margin-bottom: 10px;}
	h2 { font-size: 24px; margin-bottom: 4px; }
	h3 { font-size: 18px; margin-bottom: 4px; }
	h4 { font-size: 16px; margin-bottom: 4px; }
	h5 { font-size: 14px; }
	h6 { font-size: 12px; }
	
	.title, .residence, .email, .url { display:block; }
	.title { float:left; }
	.residence { float:right; }
	.email { float:none; text-align: center; padding-bottom: 8px; }
	.url { float:none; text-align: center; }
	.contact { font-size:18px; }
	
	.header {
		/*padding: 10px;*/
		margin-bottom: 20px;
	}
	
	.section {
		/*border: solid 1px #333;*/
		/*background-color: #EEE;*/
		margin-bottom: 10px;
		/*
		border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		*/
	}
	
	.subsection {
		background-color:#FFF;
		border-bottom: solid 3px #CCC;
		margin-bottom: 10px;
		padding: 10px;
	}
	
	.sectionHeading {
		border-bottom: 14px solid #CCC;
		margin-bottom: 10px;
	}
	
	.subsectionHeading {
		margin-bottom: 10px;
		padding-bottom: 4px;
		border-bottom: 1px solid #CCC;
	}
	
	.subsectionContent {
		padding-left:10px;
	}
	
	.indent { margin-left: 10px; }
	.noheaders {  }
	.hyphenate {
		-ms-word-break: break-all;
		 word-break: break-all;
		 word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
	.references { display:block; font-size: 10px; margin-top: -10px; }


/* Media Queries
================================================== */
	
	/* Larger than Mobile-Portrait */
	@media only screen and (min-width: 321px) {
		
		.email { float:left; text-align: left; }
		.url { float:right; text-align: right; }
		.contact { font-size:14px; }
		
	}
	
	/* Larger than Mobile-Landscape */
	@media only screen and (min-width: 481px) {
		
		.email { float:none; text-align: left; }
		.url { float:none; text-align: left; }
		
	}
	
	/* Larger than Tablet-Portrait */
	@media only screen and (min-width: 769px) {
		
		h2, h3, h4, h5, h6 { font-weight: 400; }
		h1 { font-size: 38px; margin-bottom: 14px;}
		h2 { font-size: 28px; margin-bottom: 4px; }
		h3 { font-size: 24px; margin-bottom: 4px; }
		h4 { font-size: 20px; margin-bottom: 4px; }
		h5 { font-size: 16px; }
		h6 { font-size: 14px; }
		
		.subsection {
			min-height: 50px;
		}
		
		.email { float:left; text-align: left; }
		.url { float:right; text-align: right; }
		
	}
	
	/* Larger than Tablet-Landscape/Netbook */
	@media only screen and (min-width: 1025px) {
		
		h2, h3, h4, h5, h6 { font-weight: 400; }
		h1 { font-size: 42px; margin-bottom: 14px;}
		h2 { font-size: 35px; margin-bottom: 4px; }
		h3 { font-size: 28px; margin-bottom: 4px; }
		h4 { font-size: 21px; margin-bottom: 4px; }
		h5 { font-size: 17px; }
		h6 { font-size: 14px; }
		
	}


/* Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* Titillium Regular */
@font-face {
    font-family: 'Titillium';
    src: url('fonts/titillium/TitilliumText22L003-webfont.eot');
    src: url('fonts/titillium/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium/TitilliumText22L003-webfont.woff') format('woff'),
         url('fonts/titillium/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('fonts/titillium/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
/* Titillium Medium */
@font-face {
    font-family: 'Titillium';
    src: url('fonts/titillium/TitilliumText22L004-webfont.eot');
    src: url('fonts/titillium/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium/TitilliumText22L004-webfont.woff') format('woff'),
         url('fonts/titillium/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('fonts/titillium/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Orbitron Bold */
@font-face {
    font-family: 'Orbitron';
    src: url('fonts/orbitron/orbitron-bold-webfont.eot');
    src: url('fonts/orbitron/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron/orbitron-bold-webfont.woff') format('woff'),
         url('fonts/orbitron/orbitron-bold-webfont.ttf') format('truetype'),
         url('fonts/orbitron/orbitron-bold-webfont.svg#OrbitronBold') format('svg');
    font-weight: 700;
    font-style: normal;
}